* {
  box-sizing: border-box;
  background-attachment: scroll;
  /* background-color: rgb(239,244,254); */
  background-clip: border-box;
  background-size: auto;
  line-height: 24px;
  overflow-wrap: break-word;
  text-size-adjust: 100%;
}
.App {
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, Segoe;
}
.container {
  padding: 0px 96px 0px 96px;
}

.CardFooter:hover,
.startups,
.header {
  background-color: #edf5fe;
}
.pricingcard {
  position: relative;
  padding-bottom: 80px;
}

.card {
  max-width: 100% !important;
  width: 398px;
  height: 356px;
  margin-bottom: 2rem;
  border: 1px solid #b2d7ff !important;
  border-radius: 16px !important;
  position: absolute;
  bottom: 15%;
}

span {
  font-weight: 700;
}
